





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif

}
html {
    scroll-behavior: smooth;

}

body {
    background-color: #081b29;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

section {
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;

    
}


nav {
    margin-top: 5px;
    margin-left:8px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 10px 20px;
    background: #202536;
    border-radius: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    z-index: 100;
    

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 2px cyan, 0 0 6px cyan, 0 0 3px cyan, 0 0 5px cyan, 0 0 123px cyan;
}


.navimage{
    height: fit-content;
    width: fit-content;

}


nav ul {
    display: flex;
    list-style: none;


}

nav ul li a {
    margin: 0 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;

}

nav ul li a:hover {
    color: aqua;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 150;
   
    
    

}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0; 
    border-radius: 5px;
   
    
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 20px #0ef;

}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;

}

.firstsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    height: 100vh;
    color: rgb(177, 177, 177);
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;
    margin-top: 70px;



    
}

.leftsection {
    font-size: 2.5rem;
    margin-left: 40px;
    color: rgb(177, 177, 177);
    
}

.leftsection .btn {
    padding: 12px;
    background-color: rgb(0, 0, 0);
    color: rgb(177, 177, 177);
    border: 2px solid white;
    border-radius: 35px;
    font-size: 15px;
    cursor: pointer;
    width: 180px;
    margin: 10px 0;

}


.btn{
    width: 180px;
    padding: 12px;
    background-color: 	black;
    color: rgb(177, 177, 177);
    border: 2px solid white;
    border-radius: 35px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
    transition: box-shadow 0.4s ease-in-out;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    border: 2px solid white;
    border-radius: 35px;
    cursor: pointer;
}
.btn:hover {
    /* border-radius: 20px 20px 20px 20px; */
    box-shadow: 0 0 2px cyan, 0 0 12px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 150px cyan;
    color: white;
    background-color:#100f0f;

}

.rightsection img {
    width: 80%;
    max-width: 500px;
    height: 500px;
    border-radius: 10px;
    transition: box-shadow 0.4s ease-in-out;
    margin-right: 40px;


}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: center;
    height: 100vh;
}

.about-img img {
    width: 100%;
    max-width: 460px;
    height: 460px;
    
    border-radius: 50%;
    transition: box-shadow 0.4s ease-in-out;
    margin-left: 10px;
}

.about-img img:hover {
    /* border-radius: 20px 20px 20px 20px; */
    box-shadow: 0 0 2px cyan, 0 0 6px cyan, 0 0 3px cyan, 0 0 5px cyan, 0 0 123px cyan;
}

.about-text h2 {
    font-size: 60px;
    color: rgb(177, 177, 177);
}

.about-text h2 span {
    color: aqua;
}
span {
    color: cyan;

}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
    color: rgb(177, 177, 177);
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    color: rgb(177, 177, 177);
}

.cardsss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    align-items: center;


   
}


.card {
    width: 300px;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #100f0f);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    margin: 10px;
    color: rgb(177, 177, 177);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 5px rgb(21, 27, 187), 0 0 7px rgb(29, 22, 217), 0 0 0px rgb(18, 18, 198), 0 0 0px rgb(19, 14, 168);



}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    transition: box-shadow 0.4s ease-in-out;
}

.card-content {
    padding: 15px;
    text-align: center;
    color: rgb(177, 177, 177);

}

.card-content h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: rgb(177, 177, 177);

}

.card-content p {
    font-size: 1rem;
     color: rgb(177, 177, 177);
}

.card button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease;

}



.card:hover {
    box-shadow: 0 8px 16px rgb(21, 27, 187), 0 0 10px rgb(21, 27, 187), 0 0 20px rgb(21, 27, 187), 0 0 30px rgb(21, 27, 187), 0 0 40px rgb(21, 27, 187);
    transform: translateY(-10px);

}


.con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    padding: 20px;
    margin-top: 100px;
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    background: #081b29;
    border-radius: 10px;
    
    
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(23, 237, 253); 
    
}
.con:hover{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 2px cyan, 0 0 6px cyan, 0 0 3px cyan, 0 0 5px cyan, 0 0 123px cyan;

}

.contact-list {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    margin-top: 20px;


}
.contact-lists{
    display: coloumn;
    align-items: center;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;

    border-radius: 10px;
    border: 1px solid rgb(23, 237, 253);
    background: #081b29;
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 1.6;
    
    text-align: center;
    border-radius: 10px;

   
    padding-left: 10px;
    padding-bottom: 10px;

   

   

}

.image-top {
    width: 30px;
    height: auto;
    color: cyan;

}

.contct-text {
    font-size: 25px;
}
form{
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    transition: box-shadow 0.4s ease-in-out;


}
input:hover{
    border: 2px solid rgb(23, 237, 253);
}
textarea:hover{
    border: 2px solid rgb(23, 237, 253);
}

.contact-form textarea {
    resize: none;
    height: 220px;
}



.send:hover {
    box-shadow: 0 0 2px cyan, 0 0 12px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 150px cyan;
    color: white;
    /* background-color: rgb(137, 255, 255); */
    background-color: cyan;
    transform: translatey(-3px);
    color: white;
    cursor: pointer;
}

.last-text {
    text-align: center;
    padding: 25px 0;
    background: #202536;
    font-weight: 300;
    margin-top: 70px;
    
}
footer{
    background-color: #1f3f46;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
       
    

        
        
        

    }
    nav{
        width: 97%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 95%;
        background-color: 	#1c2841;
        position: absolute;
        top: 70px;
        left: 0px;
        padding: 10px 0;

        border-radius: 10px;
        margin: 10px;
        margin-right: 10px;
        border: 1px solid rgb(23, 237, 253);
        z-index: 100;  
    }

    .nav-links.active {
        display: flex;
    }

    .firstsection {
        flex-direction: column;
        text-align: center;
        padding: 100px 20px;
        height: 100vh;
        
    }
    .firstsection p ,span{
        font-size: medium;
        font-size: 2rem;
    }
    .leftsection,
    .rightsection {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;


    }
    .rightsection img{
        display: none;
    }
    
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img img {
       
       
        /* width: 100%; */
        max-width: 200px;
        height: 200px;
        border-radius: 50%;
        transition: box-shadow 0.4s ease-in-out;
    }
    .about-img img {
        margin: 0 auto;
    }

    .cardsss {
        flex-direction: column;
        align-items: center;
        display: inline;
        gap: 50px;
        
       

        
    }
    

    .con {
        grid-template-columns: 1fr;
        align-items: center;
        
    }
    

@media (max-width: 480px) {
    .leftsection {
        font-size: 2rem;

    }

    .about-text h2 {
        font-size: 40px;
    }

    .about-text h4 {
        font-size: 24px;
    }

    .about-text p {
        font-size: 16px;
    }

    .card {
        width: 100%;
        margin: 10px 4px;
        height: 100%;


       
        
        
    }
    
    input:hover{
        border: 2px solid rgb(23, 237, 253);
    }
    textarea:hover{
        border: 2px solid rgb(23, 237, 253);
    }
    .contct-text {
        font-size: 10px;
    }
   
}}